<!-- about.html -->
    <div class="jumbotron">
        <h1 class='text-center'>Incluir Professor</h1>

        <!-- Error message -->
        <div class="alert alert-danger" ng-show='message'>
  			<strong>Erro!</strong> {{message}}
		</div>


        <!-- Register professor -->
		<form style="padding:40px" ng-if='page === 1'>

			<!-- Email -->
			<div class="form-group row">
			  <label for="example-email-input" class="col-2 col-form-label">Email</label>
			  <div class="col-10">
			    <input class="form-control" type="email" placeholder="professor@example.com" id="example-email-input" ng-model='input.email'>
			  </div>
			</div>

			<!-- Password 1 -->
			<div class="form-group row">
			  <label for="example-password-input" class="col-2 col-form-label">Senha</label>
			  <div class="col-10">
			    <input class="form-control" type='password' placeholder="Digite uma senha" 
			    	ng-model='input.password1' id="example-password-input">
			  </div>
			</div>
			<!-- Password 2 -->
			<div class="form-group row">
			  <label for="example-password-input" class="col-2 col-form-label">Senha</label>
			  <div class="col-10">
			    <input class="form-control" type='password' placeholder="Digite novamente a senha" 
			    	ng-model='input.password2' id="example-password-input">
			  </div>
			</div>

			<p style="text-align:center">
			    <button class="btn btn-large btn-danger" ng-click='googleLogin()'>
			      Entrar com o Google
			    </button>
			  	<button class="btn btn-large btn-primary" ng-click='register()' type="button">Cadastrar</button>
			</p>

		</form>        

		<!-- Fill infos -->
	    <form style="padding:40px" ng-if='page === 2'>

	    	<div class="panel panel-default">
	    	    <div class="panel-heading">
	    	    	<h3 class="panel-title">Informações Gerais</h3>
	    	     
	    	    </div>
	    	    <div class="panel-body" style="padding:30px;">


			    	<!-- Display Name-->
			    	<div class="form-group row" ng-hide='professor.displayName'>
			    	  <label for="example-text-input" class="col-2 col-form-label">Nome do Professor</label>
			    	  <div class="col-10">
			    	    <input class="form-control" type="text" placeholder="Ex: João da Silva" id="example-text-input" ng-model='professor.displayName'>
			    	  </div>
			    	</div>

			    	<!-- Email -->
			    	<div class="form-group row" ng-hide='professor.email'>
			    	  <label for="example-email-input" class="col-2 col-form-label">Email</label>
			    	  <div class="col-10">
			    	    <input class="form-control" type="email" placeholder="professor@example.com" id="example-email-input" ng-model='professor.email'>
			    	  </div>
			    	</div>

			    	<!-- Telefone -->
			    	<div class="form-group row">
			    	  <label for="example-tel-input" class="col-2 col-form-label">Celular</label>
			    	  <div class="col-10">
			    	    <input class="form-control" type="tel" placeholder="(11) 98765-4321" id="example-tel-input">
			    	  </div>
			    	</div>

			    	<!-- Password 1 -->
			    	<!-- <div class="form-group row">
			    	  <label for="example-password-input" class="col-2 col-form-label">Senha</label>
			    	  <div class="col-10">
			    	    <input class="form-control" placeholder="Digite uma senha" id="example-password-input">
			    	  </div>
			    	</div> -->
			    	<!-- Password 2 -->
			    	<!-- <div class="form-group row">
			    	  <label for="example-password-input" class="col-2 col-form-label">Senha</label>
			    	  <div class="col-10">
			    	    <input class="form-control" placeholder="Digite novamente a senha" id="example-password-input">
			    	  </div>
			    	</div> -->

			    	<!-- Professor Level -->
			    	<div class="form-group row">
			    	    <label for="exampleSelect1">Nível do professor</label>
			    	    <select class="form-control" id="exampleSelect1">
			    	      <option>1</option>
			    	      <option>2</option>
			    	      <option>3</option>
			    	      <option>4</option>
			    	      <option>5</option>
			    	    </select>
			    	</div>
			    </div>
			</div>

	    	<!-- Endereço -->
	    	<div class="panel panel-default">
	    	    <div class="panel-heading">
	    	    	<h3 class="panel-title">Endereço</h3>
	    	     
	    	    </div>
	    	    <div class="panel-body" style="padding:30px;">

			    	<!--Address -->
			    	<div class="form-group row">
			    	  <label for="example-text-input" class="col-2 col-form-label">Endereço</label>
			    	  <div class="col-10">
			    	    <!-- <input class="form-control" type="text" placeholder="Ex: Av. Senador Vergueiro - Anchieta, São Bernardo do Campo - State of São Paulo, Brazil" id="example-text-input"> -->
			    	    <input class="form-control" g-places-autocomplete 
			    	    placeholder='Av. xyz - State: ABC' ng-model="place"/>
			    	  </div>
			    	</div>

			    	<!-- Number -->
			    	<div class="form-group row">
			    	  <label for="example-text-input" class="col-2 col-form-label">Numero</label>
			    	  <div class="col-10">
			    	    <input class="form-control" type="text" placeholder="Ex: 123" id="example-text-input">
			    	  </div>
			    	</div>

			    	<!-- Complement -->
			    	<div class="form-group row">
			    	  <label for="example-text-input" class="col-2 col-form-label">Complemento</label>
			    	  <div class="col-10">
			    	    <input class="form-control" type="text" placeholder="Ex: 1234 B" id="example-text-input">
			    	  </div>
			    	</div>
			   	</div>
			</div>

	    	<!-- Formaçao -->
	    	<div class="panel panel-default">
	    	    <div class="panel-heading">
	    	    	<h3 class="panel-title">Formação</h3>
	    	     
	    	    </div>
	    	    <div class="panel-body" style="padding:30px;">

			    	<!-- Sobre -->
			    	<div class="form-group row">
			    	    <label>Sobre</label>
			    	    <textarea class="form-control" id="exampleTextarea" placeholder='Fale um pouco sobre o professor' rows="3"></textarea>
			    	</div>

			    	<!-- Formação -->
			    	<div class="form-group row">
			    	  <label for="example-text-input" class="col-2 col-form-label">Faculdade</label>
			    	  <div class="col-10">
			    	  	<input class="form-control" type="text" placeholder="Ex: Universidade de São Paulo" id="example-text-input">
			    	  </div>
			    	</div>

			    	<!-- Curso -->
			    	<div class="form-group row">
			    	  <label for="example-text-input" class="col-2 col-form-label">Curso</label>
			    	  <div class="col-10">
			    	  	<input class="form-control" type="text" placeholder="Ex: História" id="example-text-input">
			    	  </div>
			    	</div>


			    	<!-- Status -->
			    	<div class="form-group row">

			    		<label for="example-text-input" class="col-2 col-form-label">Status</label>
				    	<div class="form-check form-check-inline">
				    	  <label class="form-check-label">
				    	    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Cursando
				    	  </label>
				    	</div>
				    	<div class="form-check form-check-inline">
				    	  <label class="form-check-label">
				    	    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Finalizado
				    	  </label>
				    	</div>
				    	<br>
			    	</div>	
			    </div>
			</div>


	    	<!-- Classes that the professor'll give -->
	    	<div class="panel panel-default">
	    	    <div class="panel-heading">
	    	    	<h3 class="panel-title">Aulas que o professor vai dar</h3>
	    	     
	    	    </div>
	    	    <div class="panel-body">


<!-- 	    	  </div>
	    	</div> -->

			    	<div class="form-group row">
			    		<br>
			    		<label class="col-2 col-form-label" style="padding-left:10px;">
			    		FUNDAMENTAL</label>
			    		<br>


			    		<div style="padding-left:20px;">
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option11">
					    	    Biologia
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option12">
					    	    Física
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option13">
					    	    Geografia
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option14">
					    	    História
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option15">
					    	    Matemática
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option16">
					    	    Português
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option17">
					    	    Química
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option18">
					    	    Redação
					    	</label>
			    			
			    		</div>

			    		<br>
			    		<label class="col-2 col-form-label" style="padding-left:10px;">
			    		MÉDIO</label>
			    		<br>


			    		<div style="padding-left:20px;">
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option11">
					    	    Biologia
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option12">
					    	    Física
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option13">
					    	    Geografia
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option14">
					    	    História
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option15">
					    	    Matemática
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option16">
					    	    Português
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option17">
					    	    Química
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option18">
					    	    Redação
					    	</label>
			    			
			    		</div>

			    		<br>
			    		<label class="col-2 col-form-label" style="padding-left:10px;">
			    		SUPERIOR</label>
			    		<br>


			    		<div style="padding-left:20px;">
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option11">
					    	    Biologia
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option12">
					    	    Física
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option13">
					    	    Geografia
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option14">
					    	    História
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option15">
					    	    Matemática
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option16">
					    	    Português
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option17">
					    	    Química
					    	</label>
					    	<br>
					    	<label class="form-check-label">
					    	    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option18">
					    	    Redação
					    	</label>
					    </div>
	    			</div>
	    		</div>

	    	</div>

	    	<p style="text-align:center">
	    		<button class="btn btn-large btn-primary" ng-click='saveInfos()'
	    	  	type="button">Voltar</button>
	    	  	<button class="btn btn-large btn-primary" ng-click='saveInfos()'
	    	  	type="button">Salvar informações</button>
	    	</p>
	    	
	    </form>

	    <div class="alert alert-success" ng-if='page === 3'>
		    <strong>Salvo com sucesso!</strong> O professor agora faz parte do database
		</div>

    </div>
