<ion-view title="{{professorCtrl.professor.displayName}}" id="page3">
    <ion-content padding="true" class="has-header">
    <div style="margin-top: 20px;"></div>


    <div style='text-align: center;margin-bottom: 50px;' class='user-name'>
        <div>
        	<img class='wrapper' src="{{professorCtrl.professor.photoURL || 'img/null-avatar.png'}}">
        </div>
        <label>
            <p class='small'>{{professorCtrl.professor.displayName}}</p>
        </label>
        <rating ng-model="professorCtrl.professor.avaliacoes.didatica" max="professorCtrl.rating.max" 
                readonly="professorCtrl.rating.readOnly"
                style='margin-top: -20px;'></rating>
        <p style='margin-top: 10px;'>
            {{professorCtrl.professor.localizacoes.principal.cidade}} - {{professorCtrl.professor.localizacoes.principal.estado}}
        </p>
        <p style="margin-top:-20px;">
            <i class='icon ion-ios-location'>10km distante de você</i>
        </p>
    </div>

    <!-- Aulas que ensina -->
    <div class='infos-professor'>
	    
    	<label class='header'>Aulas oferecidas</label>
    	<div>
	        <p  class='body-text'>
	        	<span>
		        	<i class="icon ion-easel"> Ensino Fundamental </i>
		        	<br>
		            <item ng-repeat='materia in professorCtrl.professor.materias.resumo'>{{materia}}, </item>
		            </i>
		            <br>
	            </span>

	            <span>
		            <i class="icon ion-easel"> Ensino Médio </i>
		        	<br>
		            <item ng-repeat='materia in professorCtrl.professor.materias.resumo'>{{materia}}, </item>
		            </i>
		            <br>
	            <span>

	            <span>
		            <i class="icon ion-easel"> Ensino Superior </i>
		        	<br>
		            <item ng-repeat='materia in professorCtrl.professor.materias.resumo'>{{materia}}, </item>
		            </i>
		            <br>
	            </span>
	        </p>
        	<br>	
        </div>
	    
	    <!-- Sobre -->
	    <label class='header'>Sobre</label>
	    <div>
	    	<p  class='body-text'>
	    	{{professorCtrl.professor.curriculo.sobre}}
	    	</p>
	    	<br>
	    </div>
	    <!-- Formacao -->
	    <label class='header'>Formação</label>
	    <div>
	    	<p  class='body-text'>
	    			<i class="icon ion-university"> Graduação </i>
	    			<br>
	    	        {{professorCtrl.professor.curriculo.formacao.graduacao.status}} 
	    	        {{professorCtrl.professor.curriculo.formacao.graduacao.curso}} 
	    	        na {{professorCtrl.professor.curriculo.formacao.graduacao.instituicao}}
	    	        <br>

	    	        <!-- Implementar pos graduacoes -->
	    	        <span ng-show="professorCtrl.professor.curriculo.formacao.posGraduacoes.length == 0"
	    	        		style='display:inline;'>
	    	        <i class="icon ion-university"> Pós Graduação </i>
	    			<br>
	    	        {{professorCtrl.professor.curriculo.formacao.graduacao.status}} 
	    	        {{professorCtrl.professor.curriculo.formacao.graduacao.curso}} 
	    	        na {{professorCtrl.professor.curriculo.formacao.graduacao.instituicao}}
	    	        </span>
	    	</p>
	    	<br>
	    </div>
	    <!-- Avaliacoes -->
	    <label class='header'>Avaliações ({{professorCtrl.professor.avaliacoes.quantidade}})</label>
	    <div>
	    	<p>Didática</p>
	    	<rating ng-model="professorCtrl.professor.avaliacoes.didatica" max="professorCtrl.rating.max" 
	    	                readonly="professorCtrl.rating.readOnly"
	    	                style='margin-top: -20px;'></rating>
	    	<p>Conhecimento</p>
	    	<rating ng-model="professorCtrl.professor.avaliacoes.conhecimento" max="professorCtrl.rating.max" 
	    	                readonly="professorCtrl.rating.readOnly"
	    	                style='margin-top: -20px;'></rating>
	    	<p>Simpatia</p>
	    	<rating ng-model="professorCtrl.professor.avaliacoes.simpatia" max="professorCtrl.rating.max" 
	    	                readonly="professorCtrl.rating.readOnly"
	    	                style='margin-top: -20px;'></rating>

	    	<br>
	    </div>
	</div>

	<div style="margin-top:20px;">
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent 
                        button button-block">
        <i class='icon ion-search'></i>  
          	Marcar uma aula
        </button>
	</div>

    </ion-content>
</ion-view>