<ion-view title="Minha Conta" id="page3">
    <ion-content padding="true" class="has-header">

    <div style='text-align: center;margin-bottom: 50px;' class='user-name'>
        <div>
        	<img class='wrapper' src="{{profileCtrl.user.photoURL}}">
        </div>


        <button class="button icon-left ion-camera"
                style='margin-top: 10px;'>
                Editar foto</button>

        <!--a class="button button-icon icon-left ion-settings"> Editar Foto</a-->    
        <!-- <label>
            Nome de usuário: 
            <p class='small'>{{profileCtrl.user.displayName}}</p>
        </label> -->
    </div>

    <form style='margin-top:-30px;'
            ng-submit='profileCtrl.updateUserInfo()'>
		<!-- <label class="item item-input icon-right" id="login-input1" style="margin-top:20px;">
    	    <input type="text" placeholder="Digite um novo nome de usuário" ng-model='profileCtrl.newUserInfos.displayName'>
    	    <button class="button button-clear icon ion-checkmark-round"
                    ng-click='profileCtrl.changeDisplayName()'></button>
    	</label> -->


        <label class="item item-input item-stacked-label">
            <span class="input-label">Nome</span ng-model='profileCtrl.newUserInfos.displayName'>
            <input type="text" placeholder="{{profileCtrl.user.displayName}}">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span ng-model='profileCtrl.newUserInfos.email'>
            <input type="text" placeholder="{{profileCtrl.user.email}}">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Telefone</span ng-model='profileCtrl.newUserInfos.cellphone'>
            <input type="text" placeholder="{{profileCtrl.user.cellphone}}">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Endereço</span ng-model='profileCtrl.newUserInfos.location.address'>
            <input type="text" placeholder="{{profileCtrl.user.location.address}}">
        </label>
        <label class="item item-input item-stacked-label row">
            <div class='col'>
                <span class="input-label">Número
                    </span ng-model='profileCtrl.newUserInfos.location.number'>
                <input type="text" placeholder="{{profileCtrl.user.location.number}}">
            </div>
            <div class='col col-75'>
                <span class="input-label">Complemento
                    </span ng-model='profileCtrl.newUserInfos.location.complement'>
                <input type="text" placeholder="{{profileCtrl.user.location.complement}}">
            </div>
        </label>


        <button class="mdl-button mdl-js-button mdl-button--raised 
                        mdl-js-ripple-effect mdl-button--accent 
                        button button-block"
                style="margin-top:50px;">
            <i class='icon ion-search'></i>  
            Salvar informações
        </button>
    </form>


    </ion-content>
</ion-view>